body {
    font-size: 20px;
}

.table th, .table td {
    vertical-align: middle;
    padding: 0;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
    border: 0;
    padding: .5rem;
    padding-left: 0;
}

a {
    color: $black;
    transition: .2s all;
    &:hover {
        color: $black;
    }
}