$white: #FFFFFF;
$black: #333333;
$lightGrey: #f1f1f1;
$grey: #c7c7c7;
$green: #b1d8bc;
$blue: #1D589F;
$red: #ce3740;


$primary-button: #364760;
$error-button: #ee4f4f;
$confirm-button: #76b852;
$border-button: #eff3f6;
$info-button: #17a2b8;
$warning-button: #ffc107;